@page "/cv"

<html>
<head>
    <PageTitle>CV</PageTitle>
    <link rel="stylesheet" type="text/css" href="cv.css">
</head>
<body>
    <div class="top-header">
        <div class="header-image">
        </div>
        <div class="header-table">
            <table>
                <tr>
                    <th>Muhammad Waqas Siddique</th>
                </tr>
                <tr>
                    <td class="heading">Address: </td>
                    <td>Pwd Islamabad</td>
                </tr>
                <tr>
                    <td class="heading">Phone: </td>
                    <td>03045583284</td>
                </tr>
                <tr>
                    <td class="heading">Email: </td>
                    <td>siddique02mwaqas@gmail.com</td>
                </tr>
                <tr>
                    <td class="heading">Website: </td>
                    <td>www.waqas-portfolio.com</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="content-section">
        <h3>Summary</h3>
        <p>Results-oriented Software Engineer seeking a challenging position to apply expertise in web development . Proven track record in developing secure applications, optimizing performance, and ensuring efficient collaboration. Adept at utilizing cutting-edge technologies to enhance productivity and user experience.</p>
    </div>

    <div class="content-section">
        <h3>Work Experience</h3>
        <hr />
        <h4>Full Stuck Developer, TechWalks</h4>
        <p><strong>Jan 2024 - Present</strong></p>
        <ul>
            <li>Developed and maintained scalable web applications using Angular and NestJS.</li>
            <li>Implemented secure authentication and JWT-based authorization.</li>
            <li>Optimized API performance, reducing response times by 30%.</li>
        </ul>
    </div>

    <div class="content-section">
        <h3>Education</h3>
        <hr />
        <h4>Bachelor of Science in Computer Science</h4>
        <p>University of Islamabad, Aug 2023 - July 2027</p>
        <ul>
            <li>Specialized in Web Development and Cybersecurity.</li>
            <li>Completed projects integrating Angular, NestJS, and MSSQL.</li>
        </ul>
    </div>

    <div class="content-section">
        <h3>Additional Information</h3>
        <hr />
        <ul>
            <li><strong>Technical Skills:</strong> Angular, NestJS, SQL, Cybersecurity, API Development.</li>
            <li><strong>Certifications:</strong> Ethical Hacking, Full Stack Development.</li>
            <li><strong>Soft Skills:</strong> Problem-solving, Team Collaboration, Project Management.</li>
        </ul>
    </div>

</body>
</html>
